<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agencia de viajes y turismo con las mejores ofertas para viajar por Argentina y el exterior. Destinos nacionales e internacionales. Paquetes turísticos desde Rosario 2022. Vacaciones en Brasil, Argentina, Europa, Caribe, Sudamérica">
    <meta name="keywords"  content="turismo,agencia,viajes,rosario,vacaciones,aereo,bus,argentina,brasil,caribe,europa,hotel,nacionales,internacionales,destinos">
    <link rel="shortcut icon" href="../assets/multimedia/favicon-32x32.png" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Entre Montañas Viajes / Contacto</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img class="logo" src="../assets/multimedia/icono2.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/preguntasfrecuentes.html">Preguntas Frecuentes</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="color_boton btn btn-outline" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

    </header>
    <main>
       <div class="section2">
        <h1 class="titulo">Envíanos tu consulta</h1>
       </div>
        <form >
        <div class="mb-3 m-5">
            <label for="exampleFormControlInput1" class="form-label">
              <strong>
                Escribe tu e-mail
              </strong>
          
            </label>
            <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="tunombre@gmail.com">
        </div>
            <div class="mb-3 m-5">
            <label for="exampleFormControlTextarea1" class="form-label">
              <strong>
              Escribe tu consulta
              </strong>
            </label>
        <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div> 
        <div class="d-grid gap-2 col-6 mx-auto">
            <button class="btn btn-dark p-3 m-3" type="button">Enviar consulta</button>
          </div>
        </form>
    </main>
    <footer>
        <div class="redes p-5">
            <a href="http://instagram.com" target="_blank">
            <img src="../assets/multimedia/favicon-ig.png" alt="instagram" srcset="">
            </a>
            <a href="http://facebook.com" target="_blank">
            <img src="../assets/multimedia/favicon-fb.png" alt="facebook">
        </a>
        </div>
        <div>
            <h5>Todos los derechos reservados.</h5>
        </div>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>