<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agencia de viajes y turismo con las mejores ofertas para viajar por Argentina y el exterior. Destinos nacionales e internacionales. Paquetes turísticos desde Rosario 2022. Vacaciones en Brasil, Argentina, Europa, Caribe, Sudamérica">
    <meta name="keywords"  content="turismo,agencia,viajes,rosario,vacaciones,aereo,bus,argentina,brasil,caribe,europa,hotel,nacionales,internacionales,destinos">
    <link rel="shortcut icon" href="../assets/multimedia/favicon-32x32.png" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Entre Montañas Viajes / Destinos</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img class="logo" src="../assets/multimedia/icono2.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/preguntasfrecuentes.html">Preguntas Frecuentes</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/destinos.html">Destinos</a>
    
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="color_boton btn btn-outline" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

    </header>
    <main>
      <section class="section2 mx-auto bg-dark">
        <h1 class="titulo text-light pt-4 pb-4">Nacionales</h1>
      </section>
      <div class="card-group pt-5 pb-5">
        <div class="card">
          <img src="../assets/multimedia/ciudad buenos aires 00.jpg" class="card-img-top" alt="ciudad argentina Buenos Aires">
          <div class="card-body">
            <h5 class="card-title">Buenos Aires</h5>
            <p class="card-text">Buenos Aires es la gran capital cosmopolita de Argentina. Su centro es la Plaza de Mayo, rodeada de imponentes edificios del siglo XIX.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../assets/multimedia/ciudad rosario 00.jpg" class="card-img-top" alt="ciudad argentina Rosario">
          <div class="card-body">
            <h5 class="card-title">Rosario</h5>
            <p class="card-text">Rosario es una importante ciudad portuaria de Argentina, a 300 km al norte por el río Paraná desde la capital, Buenos Aires.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../assets/multimedia/ciudad cordoba 00.jpg" class="card-img-top" alt="ciudad argentina Córdoba">
          <div class="card-body">
            <h5 class="card-title">Córdoba</h5>
            <p class="card-text">Córdoba, la capital de la provincia argentina del mismo nombre, es conocida por su arquitectura colonial española.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
      <section class="section2 bg-dark">
        <h1 class="titulo text-light pt-4 pb-4">Internacionales</h1>
      </section>
      <div class="card-group pt-5 pb-5">
        <div class="card">
          <img src="../assets/multimedia/ciudad internacional new york 00.jpg" class="card-img-top" alt="ciudad internacional New York">
          <div class="card-body">
            <h5 class="card-title">New York</h5>
            <p class="card-text">Nueva York incluye 5 distritos que se ubican donde el río Hudson desemboca en el océano Atlántico.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../assets/multimedia/ciudad internacional london 00.jpg" class="card-img-top" alt="ciudad internacional Londres">
          <div class="card-body">
            <h5 class="card-title">Londres</h5>
            <p class="card-text">Londres, la capital de Inglaterra y del Reino Unido, es una ciudad del siglo XXI con una historia que se remonta a la época romana.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
        <div class="card">
          <img src="../assets/multimedia/ciudad internacional china 00.jpg" class="card-img-top" alt="ciudad internacional China">
          <div class="card-body">
            <h5 class="card-title">China</h5>
            <p class="card-text">La República Popular China es uno de los países más antiguos del mundo y el más poblado del mundo, con más de 1400 millones de habitantes, y la primera potencia económica mundial.</p>
          </div>
          <div class="card-footer">
            <small class="text-muted">Last updated 3 mins ago</small>
          </div>
        </div>
      </div>
    </div>
    </main>
    <footer>
        <div class="redes p-5">
            <a href="http://instagram.com" target="_blank"> 
            <img src="../assets/multimedia/favicon-ig.png" alt="instagram" srcset="">
            </a>
            <a href="http://facebook.com" target="_blank"> 
            <img src="../assets/multimedia/favicon-fb.png" alt="facebook">
            </a>
        </div>
        <div>
            <h5>Todos los derechos reservados.</h5>
        </div>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>