<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Entre Montañas</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-light">
            <div class="container-fluid">
              <a class="navbar-brand" href=".index.html"><img class="logo" src="../assets/multimedia/icono2.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href=".index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/preguntasfrecuentes.html">Preguntas Frecuentes</a>
                </li>
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="../views/destinos.html" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Destinos
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="#">Nacionales</a></li>
                      <li><a class="dropdown-item" href="#">Internacionales</a></li>
                      <li><hr class="dropdown-divider"></li>
                      <li><a class="dropdown-item" href="#">Más</a></li>
                    </ul>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="btn btn-outline-success" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

    </header>
    
    <main class="padre">
        <section class="section2">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-12 bg-secondary">
                    <h1 class="text-light text-center p-5">EXPERIENCIAS</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-xs-12 bg-light p-5">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, repellendus mollitia. Aliquid consequuntur excepturi distinctio obcaecati, reiciendis laudantium vitae a esse est sit tempora sint accusantium fugit! Quidem, earum vero.</p>
                    </div>
                    <div class="col-lg-4 col-md-6 col-xs-12 bg-primary p-5" >
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, repellendus mollitia. Aliquid consequuntur excepturi distinctio obcaecati, reiciendis laudantium vitae a esse est sit tempora sint accusantium fugit! Quidem, earum vero.</p>
                    </div>
                    <div class="col-lg-4 col-md-12 col-xs-12 bg-warning p-5">
                        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea, repellendus mollitia. Aliquid consequuntur excepturi distinctio obcaecati, reiciendis laudantium vitae a esse est sit tempora sint accusantium fugit! Quidem, earum vero.</p>
                    </div>
                    
                </div>
                
                
            </div>
        </section>
    </main>
    <footer>
        <div class="redes">
            <a href="http://instagram.com"> </a>
            <img src="../assets/multimedia/favicon-ig.png" alt="instagram" srcset="">

            <a href="http://facebook.com"> </a>
            <img src="../assets/multimedia/favicon-fb.png" alt="facebook">
        </div>
        <div>
            <h5>Todos los derechos reservados.</h5>
        </div>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>