<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Agencia de viajes y turismo con las mejores ofertas para viajar por Argentina y el exterior. Destinos nacionales e internacionales. Paquetes turísticos desde Rosario 2022. Vacaciones en Brasil, Argentina, Europa, Caribe, Sudamérica">
    <meta name="keywords"  content="turismo,agencia,viajes,rosario,vacaciones,aereo,bus,argentina,brasil,caribe,europa,hotel,nacionales,internacionales,destinos">
    <link rel="shortcut icon" href="../assets/multimedia/favicon-32x32.png" type="image/x-icon">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/estilo.css">
    <title>Entre Montañas Viajes / Preguntas Frecuentes</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-white">
            <div class="container-fluid">
              <a class="navbar-brand" href="../index.html"><img class="logo" src="../assets/multimedia/icono2.png" alt="logo"></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/nosotros.html">Nosotros</a>
                  </li>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="../views/preguntasfrecuentes.html">Preguntas Frecuentes</a>
                </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/destinos.html">Destinos</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="../views/contacto.html">Contacto</a>
                  </li>
                </ul>
                <form class="d-flex" role="search">
                  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                  <button class="color_boton btn btn-outline" type="submit">Buscar</button>
                </form>
              </div>
            </div>
          </nav>

    </header>
    <main>
        <div class=" section3 accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="p-4 color_boton accordion-button mx-auto" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Documentos y requisitos a tener en cuenta para viajar al extranjero
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="preguntas accordion-body ">
                  <strong>El principal requisito para irte de viaje al extranjero es tener el documento nacional de identidad (DNI sólo válido para viajes por la Comunidad Europea) o el pasaporte en regla. Echa un vistazo a la caducidad, ya que en muchos destinos piden que tenga una validez de al menos 6 menos desde que entras en el país.</strong>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="p-4 color_boton accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  ¿Qué seguro de viaje llevar al extranjero?
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                <div class="preguntas accordion-body">
                  <strong>Entre los consejos para viajar al extranjero, el más importante y necesario: un seguro de viaje que cubra en caso de enfermedad o accidente. Ten en cuenta que en muchos países no tienes coberturas médicas.</strong> 
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="p-4 color_boton accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  ¿Dónde alojarse en un viaje de vacaciones a otro país?
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="preguntas accordion-body">
                  <strong>En tu viaje de vacaciones al extranjero te puedes alojar en el típico hotel, en albergue o en un hostal. Pero también es posible quedarse en apartamentos o casas rurales. Todas estas opciones las tienes disponibles aquí, además con cancelación gratuita y pago al llegar al destino.</strong>
                </div>
              </div>
            </div>
          </div>
    </main>
    <footer>
        <div class="redes p-5">
            <a href="http://instagram.com" target="_blank"> 
                <img src="../assets/multimedia/favicon-ig.png" alt="instagram" srcset="">
            </a>
            <a href="http://facebook.com" target="_blank"> 
                <img src="../assets/multimedia/favicon-fb.png" alt="facebook">
            </a>        
        </div>
        <div>
            <h5>Todos los derechos reservados.</h5>
        </div>

    </footer>
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
</body>
</html>